{
    "framework": "FLUENCY",
    "method_name": "",
    "model_filename": "gruv1_1_minimal.lm",
    "input_parameters": [
        {
            "name": "ids",
            "parameter_type": "IntegerTensorConstantParameter",
            "shape": [1, 5],
            "values": [101, 2102, 2103, 2104, 2105]
        }
    ],
    "output_parameters": [
        {
            "name": "output",
            "parameter_type": "FloatTensorConstantParameter",
            "shape": [1, 2],
            "values": [0, 0]
        }
    ],
    "supplemental_files": [],
    "properties": {}
}